<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FirstToken</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>SmileId requires access to your camera  to take your selfie for verification.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>SmileId requires to access your camera to use Face ID for secure biometric identity verification.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photo library to save verification photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SmileID requires access to save and read ID images.</string>
	<key>SmileIDApiKey</key>
	<string>qQP6WwT+m/Eh5H05xkA8dVAoXzwgIg2fWa5YZZ6/n+sOCLW2DxLokY0mFrIYoS6I4ETj+d+fUGg4Cq9d/bF/l7jqhr8A3+fDlXglNEM7iL537jrlHe2JDu4u7RJ4dqqpyh/ME5nbbhsMaxdRdmDXEMF629TwfGmWSXyb0UUH6hI=</string>
	<key>SmileIDEnvironment</key>
	<string>production</string>
	<key>SmileIDPartnerId</key>
	<string>045</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.xib</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
